body {
    background-color: rgba(255, 235, 55, 1);
}

.creat_variant {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.creat_variant_mini {
    width: 150px;
    height: 40px;
    border: 2.5px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.creat_variant_mini p {
    color: rgba(147, 147, 147, 1);

}

a {
    text-decoration: none;
    color: black;
}

.menu a {
    text-decoration: none;
    color: #0f536a;
    font-size: 30px;
}

.menu {
    width: 1400px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to left, #0061ff, #60efff);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 335px;
    height: 40px;
}

button {
    width: 140px;
    height: 40px;
    background-color: rgba(255, 235, 55, 1);
    border: none;
    color: rgba(147, 147, 147, 1);
}

.choose_lev {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.kottasi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

}

.subject_input {
    margin-top: 30px;
}

.subject_input_mini {
    display: flex;
    flex-direction: column;
}

.subjects_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.select {
    width: 335px;
    height: 40px;
}

.option {
    text-align: center;
}