body {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    width: 1400px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to left, #0061ff, #60efff);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #0f536a;
    font-size: 30px;
}
table {
    width: 800px;
    border: 2px black solid;
    margin-top: 100px;
}

table tr {
    border: 2px black solid;
    text-align: center;
}

th, td {
    border: 2px black solid;
}
input{
    text-align: center;
}