body {
    background-color: rgba(255, 235, 55, 1);
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagee {

    width: 150px;
    border-radius: 2px;
}

.imagee_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 5px;
}

.checkbox2 {
    width: 40px;
    height: 40px;
}

.img {
    width: 200px;
    border: 0.5px solid black;
}

.subject_about {
    width: 647px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subject_about_main {
    width: 310px;
    height: 248px;
    border: 0.5px solid black;
    margin: 5px;
}

.subject_about_main_mini img {
    width: 310px;
    height: 198px;
    background-size: cover;
}