<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/create_lesson.css">
</head>
<body>
<div class="kottasi">
    <div class="subject">
        <div class="subject_input">
            <h4>Create lesson</h4>
            <div class="subject_input_mini">
                <h3>Lesson name</h3>
                <input type="text" name="subject">
            </div>
            <div class="subject_input_mini">
                <h3>Level</h3>
                <select class="select" name="subject" id="">
                    <option class="option" value="">Nimadir</option>
                    <option class="option" value="">Nimadir2</option>
                </select>
            </div>
            <div class="subject_input_mini">
                <h3>Video</h3>
                <input type="file" name="subject">
            </div>
            <div class="subject_input_mini">
                <h3>Picture</h3>
                <input type="file" name="subject">
            </div>
            <div class="subject_input_mini">
                <h3>Description</h3>
                <input type="text" name="subject">
            </div>
        </div>
        <div class="subjects_button">
            <button>Sumbit</button>
        </div>
    </div>

</div>
</body>
</html>