<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/esse_type.css">
</head>
<body>
<div class="kottasi">

    <div class="subject">
        <div class="subject_input">
            <h4>Create task </h4>
            <div class="subject_input_mini">
                <h3>task name</h3>
                <input type="text" name="subject">
            </div>

            <div class="subjects_button">
                <button>Sumbit</button>
            </div>
        </div>
    </div>

</div>
</body>
</html>