<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/creat_test.css">
</head>
<body>


<h1>Hello</h1>
<div class="menu">
    <a href="">Home</a>
    <a href="{{ url_for("register") }}">Register</a>
    <a href="{{ url_for("login") }}">Login</a>
    <a href="{{ url_for("register_teacher") }}">Add teacher</a>
    <a href="{{ url_for("creat_group") }}">Creat group</a>
    <a href="{{ url_for("profile") }}">Profile</a>
    <a href="{{ url_for("groups") }}">Groups</a>
    <a href="{{ url_for("ielts_result") }}">Ielts_result</a>
    <a href="{{ url_for("choose") }}">creat_question</a>
    <a href="{{ url_for("subject") }}">subject</a>
    <a href="{{ url_for("levels") }}">levels</a>
</div>
<div class="container">
    <div class="table1">
        <input type="text" placeholder="Question" name="question" class="question">
        <div class="plus">
            +
        </div>
    </div>
    <div class="table2">
        <div class="variant_menu">
            <a href="#" class="controll_active">odiy variant</a>
            <a href="#">rasmli variant</a>
            <a href="#">yozadgan variant</a>
        </div>

        <div class="variant">
{#            <div class="inp">#}
{#                <h4>1)</h4>#}
{#                <input type="text" placeholder="Enter your variant" name="variant" class="inp">#}
{#                <input type="checkbox" data-id="1" class="checkbox">#}
{#            </div>#}
{#            <div class="inp">#}
{#                <h4>2)</h4>#}
{#                <input type="text" placeholder="Enter your variant" name="variant" class="inp2">#}
{#                <input type="checkbox" data-id="1" class="checkbox">#}
{#            </div>#}
{#            <div class="inp">#}
{#                <h4>2)</h4>#}
{#                <input type="text" placeholder="Enter your variant" name="variant" class="inp3">#}
{#                <input type="checkbox" data-id="1" class="checkbox">#}
{#            </div>#}
{#            <div class="inp">#}
{#                <h4>2)</h4>#}
{#                <input type="text" placeholder="Enter your variant" name="variant" class="inp4">#}
{#                <input type="checkbox" data-id="1" class="checkbox">#}
{#            </div>#}
        </div>
        <div class="plus2">
            +
        </div>
        <div class="variant">
            <div class="inp">
                <h4>1)</h4>
                <input type="file" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
            <div class="inp">
                <h4>2)</h4>
                <input type="file" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
            <div class="inp">
                <h4>3)</h4>
                <input type="file" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
            <div class="inp">
                <h4>4)</h4>
                <input type="file" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
        </div>
        <div class="variant">
            <div class="inp">
                <h4>1)</h4>
                <input type="text" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
            <div class="inp">
                <h4>2)</h4>
                <input type="text" placeholder="Enter your variant">
                <input type="checkbox">
            </div>
        </div>
        <button>Sumbit</button>
    </div>
</div>

<script src="../static/JS/creat_test.js"></script>
</body>
</html>