<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/esse_task1.css">
</head>
<body>
<h2>Task 1</h2>
<div class="kottasi">

    <div class="subject">
        <div class="subject_input">


            <div class="subject_input_mini image">
                <img src="../static/image/windows-10-dark-blue-5k-8k-2880x1800-733.jpg" alt="">
            </div>

            <div class="subject_input_mini">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi, inventore maxime quasi quidem
                    reprehenderit repudiandae sint vitae! Asperiores autem distinctio ducimus explicabo harum nobis
                    numquam quaerat qui similique unde.</p>
            </div>
            {#            <div class="subjects_button">#}
            {#                <button>Sumbit</button>#}
            {#            </div>#}
        </div>
    </div>

</div>
</body>
</html>