<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/lev.css">
</head>
<body>
 <div class="creat_variant">
     {% for level in levels %}
            <a href="{{ url_for("var", level_id=level.id) }}">
                <div class="creat_variant_mini">
                    {#            <a href="{{ url_for('lev',sub_id=sub.id) }}">{{ sub.name }}</a>#}
                    <p>{{ level.levels }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>