<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/open_lesson.css">
</head>
<body>


<div class="kottasi">
    <div class="choose_lev">

        <div class="subject_input">
            <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
            <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
            <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
            <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
            <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
                        <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
                        <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
                        <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
                        <div class="subject_input_mini">
                <p>lesson nomi</p>
                <p>darajasi</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>