<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/subject.css">
</head>
<body>
<div class="menu">
    <a href="">Home</a>
    <a href="{{ url_for("register") }}">Register</a>
    <a href="{{ url_for("login") }}">Login</a>
    <a href="{{ url_for("register_teacher") }}">Add teacher</a>
    <a href="{{ url_for("creat_group") }}">Creat group</a>
    <a href="{{ url_for("profile") }}">Profile</a>
    <a href="{{ url_for("groups") }}">Groups</a>
    <a href="{{ url_for("ielts_result") }}">Ielts_result</a>
    <a href="{{ url_for("choose") }}">creat_question</a>
    <a href="{{ url_for("subject") }}">subject</a>
    <a href="{{ url_for("levels") }}">levels</a>
</div>
<div class="subject">
    <form action="{{ url_for("subject") }}" method="post">
        <input type="text" placeholder="Enter your subject" name="subject">
        <button>Sumbit</button>
    </form>
</div>
</body>
</html>